*{
    margin: 0;
    padding: 0;
}

.head_manu{
    width: 100vw;
    height: 70px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head_ul{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    list-style: none;
}

.head_ul > li{
   padding-right: 15px;
}

.head_manu li > a{
   text-decoration: none;
   color: black;
}

.head_content{
    height: 90vh;
    width: 100vw;
    background-image: url('../asset/image/blog-3.jpg'),linear-gradient(45deg,#000,#0000004b);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2{
    color: red;
}

.head_box{
    height: 400px;
    width: 600px;
    /* background-color: black; */
    margin-top: 200px;
    color: white;
    padding: 20px;
}

.head_box > h2{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.head_box > p{
      margin-bottom: 15px;
      /* text-align: left; */
}

.btn1{
    height: 50px;
    width: 150px;
    background-color: red;
    color: white;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
    margin-right: 10px;
}

.btn2{
    height: 50px;
    width: 150px;
    background-color:white;
    color: red;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
}

.service_main_container{
    width: 100%;
    height: 100vh;
    background-image: url('../asset/image/footer-bg.png'),linear-gradient(#000,#000000ba);
    background-blend-mode: overlay;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_left{
    margin-left: 100px;
    color: white;
}

.service_left > h2{
    margin: 20px 0px;
    font-size: 40px;
    font-weight: bolder;
}

.service_left > p{
    margin-bottom: 13px;
}

.service_left > ol{
    margin-left: 30px;
    margin-bottom: 50px;
}

.service_little_main{
    height: 70px;
    width: 350px;
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.little_left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.little_left > img{
    height: 70px;
    width: 70px;
    background-color: #555555;
    border-radius: 50%;
}

.little_right{
    border-left: 2px solid red;
}

.little_left > p{
    margin-left: 12px;
}

.btn3{
    height: 30px;
    width: 100px;
    background-color: white;
    color: red;
    margin-left: 30px;
    border-radius: 7px;
    border: 0px;
}

.service_right{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
    margin-bottom: 10px;
}

.s1{
    height: 200px;
    width: 200px;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.s1 > img{
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 40px;
}

.s1 > h3{
    color: black;
    text-align: center;
}

.call_main_box{
    width: 80vw;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    position: relative;
    top: -100px;
    border-radius: 10px;
    color: white;
}

.call_icon > img{
    height: 100px;
    width: 100px;
}

.call_button > button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: 0px;
    color: red;
    cursor: pointer;
}

.call_button > button:hover{
    background-color: black;
    color: white;
}